<!doctype html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link href="/static/nba.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        
        <title>myNBA: {% block title %}{% endblock %}</title>

    </head>


    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-dark border">
            <a class="navbar-brand" href="/"><span class="white">my</span><span class="red" style="font-weight:bold;font-style:italic">NBA </span><img class="nav-logo" src="static/nba.png"></a>

            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/favorite"><button class="btn btn-outline-warning">Favorites</button></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logos"><button class="btn btn-outline-info">Logos</button></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <form class="form-inline my-2 my-lg-0" action="/search" method="post" style="padding-right:0.2cm">
                            <input id="searchbox" class="form-control mr-sm-2" type="search" placeholder="Search for a player" name="search" autocomplete="off">
                            <button id="submitbutton" class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
                        </form>
                        <li class="nav-item"><a class="nav-link" href="/account"><button class="btn btn-outline-primary">Account</button></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout"><button class="btn btn-outline-light">Log Out</button></a></li>
                    </ul>
                    <script>
                        document.querySelector("#searchbox").onkeyup = function() {
                            if (document.querySelector("#searchbox").value === "") {
                                document.querySelector("#submitbutton").disabled = true;
                            } else {
                                document.querySelector("#submitbutton").disabled = false;
                            }
                        };
                    </script>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register"><button class="btn btn-outline-light">Register</button></a></li>
                        <li class="nav-item"><a class="nav-link" href="/login"><button class="btn btn-outline-light">Log In</button></a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-light border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
       
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> 
    
    </body>
    <footer class="small text-center" style="padding-bottom:100px;color:silver">
        Data provided by <a href=https://www.basketball-reference.com/ target="_blank">Basketball-Reference.com</a> and <a href=https://www.nba.com/ target="_blank">NBA.com</a>.
    </footer>

</html>
